* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    margin: 20px auto;
    text-align: center;
}

.list {
    padding: 0 16px;
    list-style: none;
}

.list-item {
    max-width: 450px;
    margin: 0 auto 16px;
    border: 2px solid black;
    border-radius: 5px;
    padding:  16px;
    color: black;
    text-align: center;
}

a {
    text-decoration: none;
}